*.xyz
test/
node_modules/
web/
archived/
server/
web-new/
docker-compose.yml
nginx.conf
start-dev.sh
build/
reax_reporter/

x64/
.vs/
reax_tools/x64/
reax_tools/reax_tools_output/
cpp/reax_tools_output/
cpp/*.o
cpp/*.exe
cpp/Makefile


