node_modules/
web/
archived/
server/
web-new/
docker-compose.yml
nginx.conf
start-dev.sh
build/
reax_reporter/
tmp/
__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
*.xyz
test/gpumd_v3/molecules.json


x64/
.vs/
reax_tools/x64/
reax_tools/reax_tools_output/
src/cpp/reax_tools_output/
src/cpp/*.o
src/cpp/*.exe
src/cpp/Makefile
